.Ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 90%;
    width: 1024px;
}

.Ul li {
    list-style: none;
    border-left: 1px solid #3a5697;
    border-top: 1px solid #3a5697;
    border-bottom: 1px solid #3a5697;
    border-radius: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .2s ease;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
    &:last-child {
        border-right: 1px solid #3a5697;
    }
    &:hover {
        background: #9b98ff;
    }
    a {
        padding: 5px;
        color: #3a5697;
        text-decoration: none;
        font-size: 17px;
    }
}

.Active {
    box-shadow: 0px 0px 3px 0px #3a5697;
}