h2 {
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    width: 1024px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

th {
    border: 1px solid black;
}